.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

/*************************************************************************/
/**************************** BUTTON *************************************/
/*************************************************************************/

.btn {
  background-color: #4bb3cc;
  border-color: #4bb3cc;
  padding: 10px;
  margin: 10px;
}

.btn:hover {
  background-color: #2d889e;
  border-color: #2d889e;
}

.btn-success:hover {
  background-color: #186426;
  border-color: #186426;
}

.btn-reset {
  background-color: darkgray;
  border-color: darkgray;
}

.btn-reset:hover {
  background-color: lightgray;
  border-color: lightgray;
}

.btn-reset:not(:disabled):not(.disabled):active {
  background-color: lightgray !important;
  border-color: lightgray !important;
  outline: none;
  box-shadow: 0 0 0 0.2rem lightgray;
}

.btn-reset:not(:disabled):not(.disabled):active:focus {
  background-color: lightgray !important;
  border-color: lightgray !important;
  outline: none;
  box-shadow: 0 0 0 0.2rem lightgray;
}

.btn-reset:focus {
  box-shadow: 0 0 0 0.2rem lightgray !important;
}

.info-button {
  background-color: #eee;
  border-color: #eee;
}

.info-button:hover {
  background-color: lightgray;
  border-color: lightgray;
}

.info-button:not(:disabled):not(.disabled):active {
  background-color: lightgray;
  border-color: lightgray;
  outline: none;
  box-shadow: 0 0 0 0.2rem lightgray;
}

.info-button:not(:disabled):not(.disabled):active:focus {
  background-color: lightgray;
  border-color: lightgray;
  outline: none;
  box-shadow: 0 0 0 0.2rem lightgray;
}

.info-button:focus {
  box-shadow: 0 0 0 0.2rem lightgray !important;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #4bb3cc;
  border-color: #4bb3cc;
  outline: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: #4bb3cc;
  border-color: #4bb3cc;
  outline: none;
}

.final-submit {
  min-width: 350px;
  margin-left: 0;
}

.btn:disabled {
  background: #dddddd;
  border-color: #dddddd;
  color: black;
}

.btn:disabled:hover {
  background: #dddddd;
  border-color: #dddddd;
  color: black;
}


/*************************************************************************/
/**************************** DROPDOWN REDUX *****************************/
/*************************************************************************/
.label-rw {
  margin-bottom: 0;
  font-size: 0.8em;
}

.rw-widget-container {
  margin-bottom: 5px;
}

.menu-title-floating {
  font-size: 1rem !important;
}

.mb-2 {
  margin-bottom: 0 !important;
}

.rw-i-caret-down:before {
  content: "\e803";
  color: #4bb3cc;
}

.rw-btn-primary:hover {
  background-color: transparent;
}

.rw-widget-container {
  background-color: #fff;
  border: 0;
  border-bottom: 2px solid #4bb3cc;
  border-radius: 0px;
  width: 100%;
}

.rw-combobox.rw-widget {
  width: 100%;
}

.rw-widget-container.rw-state-focus,
.rw-state-focus > .rw-widget-container,
.rw-widget-container.rw-state-focus:hover,
.rw-state-focus > .rw-widget-container:hover {
  background-color: #fff;
  border-color: #4bb3cc;
  box-shadow: none;
}

.rw-widget-picker {
  height: inherit;
}

.rw-select-bordered {
  cursor: pointer;
  border: none;
  border-left: 0;
}
.rw-select-bordered:hover,
.rw-select-bordered:active {
  background-color: white;
}
.rw-select-bordered:active {
  box-shadow: none;
}

.rw-rtl .rw-select-bordered {
  border-right: 0;
  border-left: none;
}

.rw-input,
.rw-dropdown-list-autofill,
.rw-filter-input {
  padding: 0;
}

.rw-widget-input,
.rw-filter-input {
  box-shadow: none;
}
.rw-widget-input.rw-state-focus {
  box-shadow: none;
}

.rw-list-option.rw-state-focus,
.rw-list-option.rw-state-focus:hover {
  background-color: #4bb3cc;
  border-color: #4bb3cc;
  color: white;
}
.rw-list-option:hover,
.rw-list-option:hover.rw-state-focus {
  background-color: #4bb3cc;
  border-color: #4bb3cc;
  color: white;
}
.rw-list-option.rw-state-selected,
.rw-list-option.rw-state-selected:hover {
  background-color: #4bb3cc;
  border-color: #4bb3cc;
  color: white;
}

.rw-multiselect-tag {
  color: white;
  margin-bottom: 5px;
  background-color: #4BB3CC;
  border: 1px solid #4BB3CC;
}

.rw-input-reset {
  padding-left: 0 !important;
}

/*************************************************************************/
/**************************** INPUT **************************************/
/*************************************************************************/
.floating-label {
  position: relative;
  margin-bottom: 0;
  width: 100%;
}

.form-control {
  position: relative !important;
}

.form-control {
  border: 0;
  border-bottom: 2px solid #4bb3cc;
  margin-top: 5px;
  padding-top: 10px !important;
  padding: 0;
  border-radius: 0;
  display: block;
  position: absolute;
}
.form-control:focus {
  border: 0;
  border-bottom: 2px solid #4bb3cc;
  outline: none;
  box-shadow: none;
}

.form-control:placeholder-shown + .form-label {
  visibility: hidden;
  z-index: -1;
}

.form-control:not(:placeholder-shown) + .form-label,
.form-control:focus:not(:placeholder-shown) + .form-label {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  top: -10%;
}

.floating-label .form-label {
  display: block;
  position: absolute;
  opacity: 0;
  font-size: 0.8em;
  color: black;
}

.form-label {
  margin-bottom: 0;
  color: black;
}

.muted-text {
  padding: 0;
  text-align: right;
  color: darkgray;
}

/*************************************************************************/
/**************************** TEXTAREA ***********************************/
/*************************************************************************/
textarea {
  border: 2px solid #4bb3cc !important;
  position: relative;
  border-radius: 5px !important;
  padding: 10px !important;
  box-shadow: 0 0 5px 0 lightgray;
}

textarea.form-control {
  position: relative;
}

textarea:focus {
  -webkit-box-shadow: 0px 0px 5px 0px#4BB3CC !important;
  -moz-box-shadow: 0px 0px 5px 0px #4bb3cc !important;
  box-shadow: 0px 0px 5px 0px #4bb3cc !important;
}

.textarea-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*************************************************************************/
/**************************** CHECKBOX ***********************************/
/*************************************************************************/
.form-check {
  padding-left: 0;
}

/* The container */
.form-check {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  left: 97%;
}

.no-label .checkmark {
  top: 50%;
  left: 46%;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 96%;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 2px solid #4bb3cc;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 lightgray;
}

/* On mouse-over, add a grey background color */
.form-check:hover input ~ .checkmark {
  background-color: white;
}

/* When the checkbox is checked, add a blue background */
.form-check input:checked ~ .checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.form-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.form-check .checkmark:after {
  left: 7px;
  top: 2px;
  width: 8px;
  height: 13px;
  border: solid #4bb3cc;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mb-3 {
  margin-top: 10px;
}

.label-radio {
  position: relative;
  padding-left: 30px;
  margin-right: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.label-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.label-radio:hover input ~ .checkmark {
  background-color: lightgray;
}

/* When the radio button is checked, add a blue background */
.label-radio input:checked ~ .checkmark {
  background-color: #4bb3cc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.label-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.label-radio .checkmark:after {
  top: 6px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.custom-control-inline {
  margin-right: 1.5rem;
}

.btn-info {
  background-color: transparent !important;
  border-color: transparent !important;
  margin: 0;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-info:focus, .btn-info.focus {
  box-shadow: none;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: none;
}


.btn-danger {
  background-color: red !important;
  border-color: red !important;
}

.btn-danger:hover {
  background-color: darkred !important;
  border-color: darkred !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #4BB3CC;
  border-color: #4BB3CC;
  box-shadow: 0 0 5px 0 #4BB3CC;
}


/*************************************************************************/
/**************************** CARD ***************************************/
/*************************************************************************/
.card {
  margin: 10px;
  margin-left: 20px;
  border: 2px solid #4bb3cc;
  box-shadow: 0 0 5px 0 lightgray;
  border-radius: 10px;
}

.card-header {
  background-color: white;
  border-radius: 10px !important;
  border-bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.card-icon {
  display: flex;
  justify-content: center;
}

.fa-user-circle {
  height: 3em !important;
  width: 3em !important;
  color: #4bb3cc;
}

.fa-trash {
  height: 1.2em !important;
  width: 1.2em !important;
  color: #4bb3cc;
  cursor: pointer;
}

.fa-edit {
  height: 1.2em !important;
  width: 1.2em !important;
  color: #4bb3cc;
  margin-right: 10px;
  cursor: pointer;
}

.card-body {
  padding: 0.5em;
  padding-left: 1.5em;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 0.5em;
}

.card-text {
  margin-bottom: 0.5em;
}

.card-link {
  margin-bottom: 1em;
  color: #4bb3cc;
}

.card-link:hover {
  color: #2d889e;
}

a.inline-link {
  color: black !important;
}

a.inline-link:hover {
  color: #2d889e !important;
  text-transform: none;
}

/*************************************************************************/
/**************************** MODAL **************************************/
/*************************************************************************/
.modal-content {
  border: 3px solid #4bb3cc;
  border-radius: 10px;
}

.modal-title {
  width: 100%;
  font-size: 1.2em;
}

.modal-header {
  border-bottom: 0;
  padding-bottom: 0;
}

.modal-footer {
  border-top: 0;
  padding-top: 0;
}

.submit-modal > .modal-content {
  background-color: rgba(0, 0, 0 , 0.5);
  border-color: rgba(0, 0, 0 , 0.3);
  color: white;
  min-width: 400px;
}

.submit-modal > .modal-content > .modal-header {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.submit-modal > .modal-content > .modal-body > .carousel > .carousel-inner >.carousel-item {
  display: flex;
  justify-content: center;
  align-content: center;
}

/*************************************************************************/
/**************************** TABLE **************************************/
/*************************************************************************/
/* .table .thead-light th {
  width: 200px !important;
} */

.thumbs-wrapper.axis-vertical {
  display: none;
}
.slider > .slide.selected {
  background-color: transparent;
}

.control-dots {
  padding-left: 0px;
}